* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background: #f1f5f8;
}

html {
  font-size: 62.5%;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

:root {
  --clr-primary-1: #063251;
  --clr-primary-2: #104e7a;
  --clr-primary-3: #1a6aa2;
  --clr-primary-4: #2d87c8;
  --clr-primary-5: #49a6e9;
  --clr-primary-6: #6ebef7;
  --clr-primary-7: #8bcbf9;
  --clr-primary-8: #a5d5f8;
  --clr-primary-9: #c5e5fc;
  --clr-primary-10: #ebf7ff;
  --clr-grey-1: #102a42;
  --clr-grey-2: #243a52;
  --clr-grey-3: #324d67;
  --clr-grey-4: #48647f;
  --clr-grey-5: #617d98;
  --clr-grey-6: #829ab0;
  --clr-grey-7: #9eb2c7;
  --clr-grey-8: #bcccdc;
  --clr-grey-9: #dae2ec;
  --clr-grey-10: #f1f5f8;
  --clr-white: #fff;
  --clr-red-dark: #bb2525;
  --clr-red-light: #e66b6b;
  --clr-green-dark: #25bb32;
  --clr-green-light: #6be675;
  --clr-black: #222;
  --transition: all 0.3s linear;
  --spacing: 0.1rem;
  --radius: 0.25rem;
  --light-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  --dark-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
  --max-width: 1170px;
  --fixed-width: 620px;
}

.navbar {
  background: white;
  box-shadow: var(--dark-shadow);
  width: 100%;
}

.content {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 10vh;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  padding: 0 30px;
}

.pages {
  list-style: none;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: 2rem;
}

.pages li h3 {
  font-size: 1.5rem;
  font-weight: 400;
  letter-spacing: 0.1rem;
  color: var(--clr-grey-3);
  transition: var(--transition);
}

.social-networks {
  display: flex;
  flex-direction: row;
  gap: 2rem;
}

.icon {
  color: var(--clr-primary-3);
  width: 15px;
  height: 15px;
}

.btn {
  cursor: pointer;
  border: none;
  background: none;
}

.btn h3:hover {
  color: var(--clr-primary-5);
}

.pages a {
  text-decoration: none;
}

.mobile-menu {
  display: none;
}

@media screen and (max-width: 960px) {
  .pages {
    display: none;
  }
  .social-networks {
    display: none;
  }

  .mobile-menu {
    display: block;
    width: 30px;
    height: 30px;
    transition: var(--transition);
    color: var(--clr-primary-5);
    cursor: pointer;
  }

  .mobile-menu:hover {
    transform: rotate(90deg);
    color: var(--clr-grey-2);
  }
}

@media screen and (min-width: 960px) {
  .expand {
    display: none;
  }
}

.expand {
  list-style: none;
  background: white;
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.2);
  transition: all 0.5s ease-out;
  height: auto;
}

.expand ul {
  height: 40px;
  display: flex;
  align-items: center;
  cursor: pointer;
  transition: var(--transition);
  display: flex;
  align-items: center;
  justify-content: center;
}

.expand ul:hover {
  background: var(--clr-primary-7);
  color: var(--clr-primary-4);
}

.expand a {
  text-decoration: none;
  font-size: 2rem;
  color: var(--clr-grey-4);
  font-weight: 400;
  margin-left: 30px;
  transition: var(--transition);
  width: 100%;
  height: 100%;
}

.expand a:hover {
  padding-left: 10px;
}

.expand a h5 {
  font-weight: 400;
  letter-spacing: 0.1rem;
  min-height: 100%;
  align-self: center;
  display: flex;
  align-items: center;
}

.not-expand {
  display: none;
  height: 0;
}
